.page {
  align-items: center;
  flex-direction: column;
}
.form {
  margin-left: 30;
  margin-right: 30;
  align-items: center;
  margin-top: 30;
}
.input {
  background-color: #f0f8ff; 
  border: 1px solid #5a9eff;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  font-weight: normal;
  margin-bottom: 30px;
  width: 250;
}
.drop{
  margin-top: 30;
  margin-bottom: 30;
}

.input:focus {
  border-color: #5a9eff;
  box-shadow: 0 0 0 3px rgba(90, 158, 255, 0.5); 
}

.input::placeholder {
  color: #aaa;
}

.spanText{
  margin-bottom: 40;
  color: black;
  font-size: 15;
}

.actionio{
  background-color: #3c8dff;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}


.button {
  background-color: #5a9eff;
  border-radius: 8px;
  height: 100px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
  font-size: 16px; 
  font-weight: bold; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s, box-shadow 0.2s;
  margin-bottom: 10;
}

.button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(90, 158, 255, 0.5);
}
